.blue {
    background-color: papayawhip;
}
.red {
    background-color: red;
}
.tab {
    border-style: solid;
    border-width: 2px;
    border-collapse: separate;
}

td
{
    padding: 5px;
    border: 1px solid black;
}
th {
    text-align: left;  
    padding: 5px; 
    border: 1px solid black;
}
.footer-bg {
    background:palegreen;
   }
.hdr {
    background: palegreen;

}
.llll {
    list-style: none; 
    margin: 0; 
    padding-left: 0; 
}
